/* General styling for the App */
.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #a3b18a;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


#title{
  display: flex;
  justify-content: center;
  background-color: #333d29;
  font-family: 'cursive';
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  color: white  ;

}
.controls {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.controls input[type="text"],
.controls input[type="color"],
.controls select,
.controls input[type="number"] {
  
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.controls button {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #212529;
  color: white;
  transition: background-color 0.3s;
}

.controls button:disabled {
  background-color: #212529;
}

.controls button:hover:not(:disabled) {
  background-color: #212529;
}

/* Text area styling */
.text-area {
  border-radius: 20px;
  width: 80%;
  height: 400px;
  border: 2px dashed #6b7178;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #ffffff;
}
#photo{
  height: 60px;
  width: 60px;


}

/* Text element styling */
.text-element {
  cursor: move;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

.text-element:hover {
  background-color: rgba(0, 123, 255, 0.1);
  transform: scale(1.05);
}

.text-element input {
  width: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
